#**02 - preprocesado**

**Miembros del grupo:**

* Cristian Camilo Serna Betancur, CC 1018351871, Ingeniería de Sistemas
* Diego Alonso Herrera Ramírez, CC 70908268, Ingeniería de Sistemas
* Sharid Samantha Madrid Ospina, CC 1001652997, Ingeniería de Sistemas


**Base de datos:**
* [hotel_booking](https://www.kaggle.com/datasets/saadharoon27/hotel-booking-dataset/data): Contiene información sobre reservas de hotel, que abarca detalles sobre los huéspedes, sus reservas y atributos del hotel

In [ ]:
import pandas as pd

# Se carga el conjunto de datos original
data = pd.read_csv("https://raw.githubusercontent.com/Udeaproject/IA-system/main/hotel_booking.csv", delimiter=",")

In [ ]:
# Contar la cantidad de datos por cada clase
class_counts = data['is_canceled'].value_counts()

# Obtener la cantidad mínima de muestras entre las clases
min_class_count = class_counts.min()

# Submuestrear ambas clases para igualar la cantidad mínima
canceled_0 = data[data['is_canceled'] == 0].sample(min_class_count)
canceled_1 = data[data['is_canceled'] == 1].sample(min_class_count)

# Combinar los datos submuestreados
balanced_data = pd.concat([canceled_0, canceled_1])

# Mezclar los datos para que no estén ordenados por clase
balanced_data = balanced_data.sample(frac=1, random_state=42)

In [ ]:
# Obtener el recuento de las clases
counts = balanced_data['is_canceled'].value_counts()

# Mostrar los recuentos
print(counts)

0    44224
1    44224
Name: is_canceled, dtype: int64

In [ ]:
# name, email, phone-number y credit-card son datos falsos y debido a
# se busca hacer predicciones sin contar con los datos personales de los
# usarios se ha decidido eliminar dichas columnas.
columns_to_discard = ['name', 'email', 'phone-number', 'credit_card']

# Se creea un nuevo DataFrame excluyendo las columnas anteriores.
db = balanced_data.drop(columns_to_discard, axis=1).copy()

# Se imprime la información del nuevo DataFrame
print("Información del nuevo conjunto de datos:")
print(db.info())

Información del nuevo conjunto de datos:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 88448 entries, 38336 to 16682
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           88448 non-null  object
 1   is_canceled                     88448 non-null  int64
 2   lead_time                       88448 non-null  int64
 3   arrival_date_year               88448 non-null  int64
 4   arrival_date_month              88448 non-null  object
 5   arrival_date_week_number        88448 non-null  int64
 6   arrival_date_day_of_month       88448 non-null  int64
 7   stays_in_weekend_nights         88448 non-null  int64
 8   stays_in_week_nights            88448 non-null  int64
 9   adults                          88448 non-null  int64
 10  children                        88444 non-null  float64
 11  babies                          88448 non-null  int64
 12  meal                            88448 non-null  object
 13  country                         88130 non-null  object
 14  market_segment                  88448 non-null  object
 15  distribution_channel            88448 non-null  object
 16  is_repeated_guest               88448 non-null  int64
 17  previous_cancellations          88448 non-null  int64
 18  previous_bookings_not_canceled  88448 non-null  int64
 19  reserved_room_type              88448 non-null  object
 20  assigned_room_type              88448 non-null  object
 21  booking_changes                 88448 non-null  int64
 22  deposit_type                    88448 non-null  object
 23  agent                           77135 non-null  float64
 24  company                         4502 non-null   float64
 25  days_in_waiting_list            88448 non-null  int64
 26  customer_type                   88448 non-null  object
 27  adr                             88448 non-null  float64
 28  required_car_parking_spaces     88448 non-null  int64
 29  total_of_special_requests       88448 non-null  int64
 30  reservation_status              88448 non-null  object
 31  reservation_status_date         88448 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 22.3+ MB
None

In [ ]:
# Debido a que en la columna "company" faltan el 94% de sus
# datos, se ha decidido eliminar la columna por  completo.
# Tambien se elimina la columna 'required_car_parking_spaces',
# debio a que es una columna constante que afecta negativamente
# la matriz de covarianza
columns_to_discard = ['company', 'required_car_parking_spaces']
db = db.drop(columns_to_discard, axis=1).copy()

# Se eliminan las filas donde 'agent', 'country', 'children' y 'adr' no tienen datos.
db = db.dropna(subset=['agent', 'country', 'children', 'adr'])

# Se convierte el tipo de la columna 'children' a int, actualmente esta en float64
db['children'] = db['children'].astype(int)


for column in db:
  missing_percentage = (db[column].isnull().sum() / len(db)) * 100
  print("\t{}: {:.2f}%".format(column, missing_percentage))

print(db.shape)
print(db.info())

	hotel: 0.00%
	is_canceled: 0.00%
	lead_time: 0.00%
	arrival_date_year: 0.00%
	arrival_date_month: 0.00%
	arrival_date_week_number: 0.00%
	arrival_date_day_of_month: 0.00%
	stays_in_weekend_nights: 0.00%
	stays_in_week_nights: 0.00%
	adults: 0.00%
	children: 0.00%
	babies: 0.00%
	meal: 0.00%
	country: 0.00%
	market_segment: 0.00%
	distribution_channel: 0.00%
	is_repeated_guest: 0.00%
	previous_cancellations: 0.00%
	previous_bookings_not_canceled: 0.00%
	reserved_room_type: 0.00%
	assigned_room_type: 0.00%
	booking_changes: 0.00%
	deposit_type: 0.00%
	agent: 0.00%
	days_in_waiting_list: 0.00%
	customer_type: 0.00%
	adr: 0.00%
	total_of_special_requests: 0.00%
	reservation_status: 0.00%
	reservation_status_date: 0.00%
(77034, 30)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 77034 entries, 38336 to 16682
Data columns (total 30 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           77034 non-null  object
 1   is_canceled                     77034 non-null  int64
 2   lead_time                       77034 non-null  int64
 3   arrival_date_year               77034 non-null  int64
 4   arrival_date_month              77034 non-null  object
 5   arrival_date_week_number        77034 non-null  int64
 6   arrival_date_day_of_month       77034 non-null  int64
 7   stays_in_weekend_nights         77034 non-null  int64
 8   stays_in_week_nights            77034 non-null  int64
 9   adults                          77034 non-null  int64
 10  children                        77034 non-null  int64
 11  babies                          77034 non-null  int64
 12  meal                            77034 non-null  object
 13  country                         77034 non-null  object
 14  market_segment                  77034 non-null  object
 15  distribution_channel            77034 non-null  object
 16  is_repeated_guest               77034 non-null  int64
 17  previous_cancellations          77034 non-null  int64
 18  previous_bookings_not_canceled  77034 non-null  int64
 19  reserved_room_type              77034 non-null  object
 20  assigned_room_type              77034 non-null  object
 21  booking_changes                 77034 non-null  int64
 22  deposit_type                    77034 non-null  object
 23  agent                           77034 non-null  float64
 24  days_in_waiting_list            77034 non-null  int64
 25  customer_type                   77034 non-null  object
 26  adr                             77034 non-null  float64
 27  total_of_special_requests       77034 non-null  int64
 28  reservation_status              77034 non-null  object
 29  reservation_status_date         77034 non-null  object
dtypes: float64(2), int64(16), object(12)
memory usage: 18.2+ MB
None

In [ ]:
categorical_columns = [
    'hotel',
    'meal',
    'arrival_date_month',
    'country',
    'market_segment',
    'distribution_channel',
    'reserved_room_type',
    'assigned_room_type',
    'deposit_type',
    'customer_type',
    'reservation_status'
]

In [ ]:
# Se convierten los datos categóricos en datos numéricos
for column in categorical_columns:
  ordinal_mapping = {k: i + 1 for i, k in enumerate(db[column].unique())}
  print("Columna categoria: {}: {}".format(column, ordinal_mapping))
  db[column] = db[column].map(ordinal_mapping)
print(db.info())

Columna categoria: hotel: {'Resort Hotel': 1, 'City Hotel': 2}
Columna categoria: meal: {'BB': 1, 'HB': 2, 'SC': 3, 'Undefined': 4, 'FB': 5}
Columna categoria: arrival_date_month: {'July': 1, 'April': 2, 'May': 3, 'February': 4, 'March': 5, 'August': 6, 'September': 7, 'December': 8, 'November': 9, 'October': 10, 'January': 11, 'June': 12}
Columna categoria: country: {'PRT': 1, 'IRL': 2, 'ESP': 3, 'NLD': 4, 'FRA': 5, 'AGO': 6, 'CHN': 7, 'POL': 8, 'USA': 9, 'GBR': 10, 'AUT': 11, 'DEU': 12, 'IRN': 13, 'LVA': 14, 'AUS': 15, 'CN': 16, 'CHE': 17, 'NOR': 18, 'FIN': 19, 'ITA': 20, 'BEL': 21, 'CPV': 22, 'ROU': 23, 'COL': 24, 'IND': 25, 'BRA': 26, 'ISR': 27, 'RUS': 28, 'SRB': 29, 'SWE': 30, 'GNB': 31, 'GRC': 32, 'DNK': 33, 'BGR': 34, 'CUB': 35, 'URY': 36, 'ZAF': 37, 'TUR': 38, 'THA': 39, 'CYP': 40, 'MEX': 41, 'DOM': 42, 'PHL': 43, 'NZL': 44, 'CHL': 45, 'MAR': 46, 'KOR': 47, 'MYS': 48, 'CZE': 49, 'BLR': 50, 'JPN': 51, 'HUN': 52, 'LTU': 53, 'DZA': 54, 'PER': 55, 'NGA': 56, 'TUN': 57, 'KWT': 58, 'LUX': 59, 'SGP': 60, 'MDV': 61, 'PAN': 62, 'IDN': 63, 'SVN': 64, 'AZE': 65, 'LCA': 66, 'EST': 67, 'ARG': 68, 'ARE': 69, 'MLT': 70, 'UKR': 71, 'BOL': 72, 'BWA': 73, 'TWN': 74, 'GEO': 75, 'SEN': 76, 'ECU': 77, 'MUS': 78, 'HRV': 79, 'TZA': 80, 'SAU': 81, 'MAC': 82, 'LKA': 83, 'GIB': 84, 'EGY': 85, 'IRQ': 86, 'JEY': 87, 'OMN': 88, 'BGD': 89, 'HKG': 90, 'SVK': 91, 'QAT': 92, 'UZB': 93, 'BIH': 94, 'LBN': 95, 'ISL': 96, 'MYT': 97, 'PRI': 98, 'FJI': 99, 'GGY': 100, 'BHR': 101, 'MOZ': 102, 'VEN': 103, 'PAK': 104, 'ARM': 105, 'CMR': 106, 'BRB': 107, 'KAZ': 108, 'ATA': 109, 'ALB': 110, 'ZWE': 111, 'BEN': 112, 'VGB': 113, 'LIE': 114, 'MKD': 115, 'CIV': 116, 'KEN': 117, 'SYC': 118, 'GAB': 119, 'VNM': 120, 'AND': 121, 'JOR': 122, 'TJK': 123, 'PLW': 124, 'MRT': 125, 'FRO': 126, 'TMP': 127, 'CRI': 128, 'IMN': 129, 'PRY': 130, 'SYR': 131, 'BDI': 132, 'DJI': 133, 'KHM': 134, 'SDN': 135, 'MMR': 136, 'ZMB': 137, 'TGO': 138, 'GUY': 139, 'ETH': 140, 'LBY': 141, 'GHA': 142, 'ATF': 143, 'MCO': 144, 'KIR': 145, 'HND': 146, 'BFA': 147, 'MLI': 148, 'CYM': 149, 'UGA': 150, 'NPL': 151, 'MNE': 152, 'SUR': 153, 'JAM': 154, 'KNA': 155, 'NIC': 156, 'COM': 157, 'SLV': 158, 'UMI': 159, 'GLP': 160}
Columna categoria: market_segment: {'Online TA': 1, 'Direct': 2, 'Groups': 3, 'Offline TA/TO': 4, 'Complementary': 5, 'Corporate': 6, 'Aviation': 7}
Columna categoria: distribution_channel: {'TA/TO': 1, 'Direct': 2, 'Corporate': 3, 'GDS': 4}
Columna categoria: reserved_room_type: {'A': 1, 'E': 2, 'D': 3, 'H': 4, 'F': 5, 'G': 6, 'B': 7, 'C': 8}
Columna categoria: assigned_room_type: {'A': 1, 'E': 2, 'D': 3, 'G': 4, 'F': 5, 'B': 6, 'K': 7, 'C': 8, 'H': 9, 'I': 10}
Columna categoria: deposit_type: {'No Deposit': 1, 'Non Refund': 2, 'Refundable': 3}
Columna categoria: customer_type: {'Transient': 1, 'Transient-Party': 2, 'Contract': 3, 'Group': 4}
Columna categoria: reservation_status: {'Check-Out': 1, 'Canceled': 2, 'No-Show': 3}
<class 'pandas.core.frame.DataFrame'>
Int64Index: 77034 entries, 38336 to 16682
Data columns (total 30 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           77034 non-null  int64
 1   is_canceled                     77034 non-null  int64
 2   lead_time                       77034 non-null  int64
 3   arrival_date_year               77034 non-null  int64
 4   arrival_date_month              77034 non-null  int64
 5   arrival_date_week_number        77034 non-null  int64
 6   arrival_date_day_of_month       77034 non-null  int64
 7   stays_in_weekend_nights         77034 non-null  int64
 8   stays_in_week_nights            77034 non-null  int64
 9   adults                          77034 non-null  int64
 10  children                        77034 non-null  int64
 11  babies                          77034 non-null  int64
 12  meal                            77034 non-null  int64
 13  country                         77034 non-null  int64
 14  market_segment                  77034 non-null  int64
 15  distribution_channel            77034 non-null  int64
 16  is_repeated_guest               77034 non-null  int64
 17  previous_cancellations          77034 non-null  int64
 18  previous_bookings_not_canceled  77034 non-null  int64
 19  reserved_room_type              77034 non-null  int64
 20  assigned_room_type              77034 non-null  int64
 21  booking_changes                 77034 non-null  int64
 22  deposit_type                    77034 non-null  int64
 23  agent                           77034 non-null  float64
 24  days_in_waiting_list            77034 non-null  int64
 25  customer_type                   77034 non-null  int64
 26  adr                             77034 non-null  float64
 27  total_of_special_requests       77034 non-null  int64
 28  reservation_status              77034 non-null  int64
 29  reservation_status_date         77034 non-null  object
dtypes: float64(2), int64(27), object(1)
memory usage: 18.2+ MB
None

In [ ]:
# Se separa reservation_status_date en 3 columnas: day, year y month
column = "reservation_status_date"
db[column] = pd.to_datetime(db[column])
db['reservation_status_date_day'] = db[column].dt.day
db['reservation_status_date_year'] = db[column].dt.year
db['reservation_status_date_month'] = db[column].dt.month
db = db.drop([column], axis=1).copy()

print(db.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77034 entries, 38336 to 16682
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           77034 non-null  int64
 1   is_canceled                     77034 non-null  int64
 2   lead_time                       77034 non-null  int64
 3   arrival_date_year               77034 non-null  int64
 4   arrival_date_month              77034 non-null  int64
 5   arrival_date_week_number        77034 non-null  int64
 6   arrival_date_day_of_month       77034 non-null  int64
 7   stays_in_weekend_nights         77034 non-null  int64
 8   stays_in_week_nights            77034 non-null  int64
 9   adults                          77034 non-null  int64
 10  children                        77034 non-null  int64
 11  babies                          77034 non-null  int64
 12  meal                            77034 non-null  int64
 13  country                         77034 non-null  int64
 14  market_segment                  77034 non-null  int64
 15  distribution_channel            77034 non-null  int64
 16  is_repeated_guest               77034 non-null  int64
 17  previous_cancellations          77034 non-null  int64
 18  previous_bookings_not_canceled  77034 non-null  int64
 19  reserved_room_type              77034 non-null  int64
 20  assigned_room_type              77034 non-null  int64
 21  booking_changes                 77034 non-null  int64
 22  deposit_type                    77034 non-null  int64
 23  agent                           77034 non-null  float64
 24  days_in_waiting_list            77034 non-null  int64
 25  customer_type                   77034 non-null  int64
 26  adr                             77034 non-null  float64
 27  total_of_special_requests       77034 non-null  int64
 28  reservation_status              77034 non-null  int64
 29  reservation_status_date_day     77034 non-null  int64
 30  reservation_status_date_year    77034 non-null  int64
 31  reservation_status_date_month   77034 non-null  int64
dtypes: float64(2), int64(30)
memory usage: 19.4 MB
None

In [ ]:
db

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,days_in_waiting_list,customer_type,adr,total_of_special_requests,reservation_status,reservation_status_date_day,reservation_status_date_year,reservation_status_date_month
38336,1,0,142,2017,1,28,10,1,4,2,...,1,240.0,0,1,154.00,1,1,15,2017,7
23099,1,0,3,2016,2,16,14,0,1,2,...,1,250.0,0,2,125.00,0,1,15,2016,4
68822,2,1,25,2017,3,21,21,2,0,1,...,1,9.0,0,1,160.00,1,2,26,2017,4
12656,1,1,163,2017,1,28,10,1,5,2,...,1,240.0,0,1,182.00,0,2,30,2017,1
24813,1,0,143,2016,3,22,28,2,5,2,...,1,240.0,0,1,76.19,1,1,4,2016,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37750,1,0,222,2017,12,25,23,2,3,2,...,1,241.0,0,1,76.23,1,1,28,2017,6
59741,2,1,166,2016,9,45,1,0,3,1,...,2,236.0,0,1,110.00,0,2,13,2016,7
10843,1,1,95,2017,2,14,8,2,3,3,...,1,240.0,0,1,150.00,0,2,19,2017,1
94787,2,0,0,2016,6,33,9,0,1,2,...,1,9.0,0,1,158.00,0,1,10,2016,8
16682,1,0,288,2015,7,36,2,1,4,2,...,1,240.0,0,2,110.70,0,1,7,2015,9

In [ ]:
# Se imprime el valor minimo, maximo y medio de cada columna
for column in db.columns:
  min_value = db[column].min()
  max_value = db[column].max()
  mean_value = db[column].mean()
  print("{}:".format(column))
  print("\tmin:", min_value)
  print("\tmax:", max_value)
  print("\tmean: {:.2f}".format(mean_value))

hotel:
	min: 1
	max: 2
	mean: 1.71
is_canceled:
	min: 0
	max: 1
	mean: 0.52
lead_time:
	min: 0
	max: 629
	mean: 120.08
arrival_date_year:
	min: 2015
	max: 2017
	mean: 2016.16
arrival_date_month:
	min: 1
	max: 12
	mean: 6.08
arrival_date_week_number:
	min: 1
	max: 53
	mean: 27.31
arrival_date_day_of_month:
	min: 1
	max: 31
	mean: 15.78
stays_in_weekend_nights:
	min: 0
	max: 16
	mean: 0.97
stays_in_week_nights:
	min: 0
	max: 41
	mean: 2.59
adults:
	min: 0
	max: 26
	mean: 1.90
children:
	min: 0
	max: 10
	mean: 0.11
babies:
	min: 0
	max: 9
	mean: 0.01
meal:
	min: 1
	max: 5
	mean: 1.38
country:
	min: 1
	max: 160
	mean: 8.67
market_segment:
	min: 1
	max: 7
	mean: 2.11
distribution_channel:
	min: 1
	max: 4
	mean: 1.09
is_repeated_guest:
	min: 0
	max: 1
	mean: 0.01
previous_cancellations:
	min: 0
	max: 26
	mean: 0.10
previous_bookings_not_canceled:
	min: 0
	max: 25
	mean: 0.02
reserved_room_type:
	min: 1
	max: 8
	mean: 1.69
assigned_room_type:
	min: 1
	max: 10
	mean: 1.91
booking_changes:
	min: 0
	max: 17
	mean: 0.18
deposit_type:
	min: 1
	max: 3
	mean: 1.16
agent:
	min: 1.0
	max: 535.0
	mean: 83.91
days_in_waiting_list:
	min: 0
	max: 391
	mean: 2.90
customer_type:
	min: 1
	max: 4
	mean: 1.27
adr:
	min: -6.38
	max: 5400.0
	mean: 105.05
total_of_special_requests:
	min: 0
	max: 5
	mean: 0.55
reservation_status:
	min: 1
	max: 3
	mean: 1.53
reservation_status_date_day:
	min: 1
	max: 31
	mean: 15.56
reservation_status_date_year:
	min: 2014
	max: 2017
	mean: 2016.07
reservation_status_date_month:
	min: 1
	max: 12
	mean: 6.28

In [ ]:
# Se guarda el nuevo DataFrame en un archivo CSV
db.to_csv('preprocessed_hotel_booking.csv', index=False)